In [6]:
import pandas as pd
import scrapper

In [7]:
filename = scrapper.get_income_csv_filename('nflx')
income_df = scrapper.get_dataframe_from_csv_file(filename)
income_df

,12/31/2018,12/31/2017,12/31/2016,12/31/2015
Period Ending:,,,,
Total Revenue,"$15,794,341","$11,692,713","$8,830,669","$6,779,511"
Cost of Revenue,"$9,967,538","$8,033,000","$6,257,462","$4,591,476"
Gross Profit,"$5,826,803","$3,659,713","$2,573,207","$2,188,035"
Research and Development,"$1,221,814","$953,710","$780,232","$650,788"
"Sales, General and Admin.","$2,999,763","$1,867,324","$1,413,182","$1,231,421"
Non-Recurring Items,NaN,NaN,NaN,NaN
Other Operating Items,NaN,NaN,NaN,NaN
Operating Income,"$1,605,226","$838,679","$379,793","$305,826"
Add'l income/expense items,NaN,NaN,"$41,725","($115,154)"
Earnings Before Interest and Tax,"$1,646,951","$723,525","$410,621","$274,601"
Interest Expense,"$420,493","$238,204","$150,114","$132,716"
Earnings Before Tax,"$1,226,458","$485,321","$260,507","$141,885"
Income Tax,"$15,216","($73,608)","$73,829","$19,244"
Minority Interest,NaN,NaN,NaN,NaN
Equity Earnings/Loss Unconsolidated Subsidiary,NaN,NaN,NaN,NaN
Net Income-Cont. Operations,"$1,211,242","$558,929","$186,678","$122,641"
Net Income,"$1,211,242","$558,929","$186,678","$122,641"
Net Income Applicable to Common Shareholders,"$1,211,242","$558,929","$186,678","$122,641"

In [8]:
revenue = scrapper.get_revenue(income_df)
print(revenue)

NameError: name 'get_revenue' is not defined