In [1]:
import pandas as pd
import filename_constructor
import scrapper

In [2]:
filename = filename_constructor.get_income_csv_filename('nflx')
income_df = scrapper.get_dataframe_from_csv_file(filename)
income_df

,12/31/2018,12/31/2017,12/31/2016,12/31/2015
Period Ending:,,,,
Total Revenue,"$15,794,341","$11,692,713","$8,830,669","$6,779,511"
Cost of Revenue,"$9,967,538","$8,033,000","$6,257,462","$4,591,476"
Gross Profit,"$5,826,803","$3,659,713","$2,573,207","$2,188,035"
Research and Development,"$1,221,814","$953,710","$780,232","$650,788"
"Sales, General and Admin.","$2,999,763","$1,867,324","$1,413,182","$1,231,421"
Non-Recurring Items,NaN,NaN,NaN,NaN
Other Operating Items,NaN,NaN,NaN,NaN
Operating Income,"$1,605,226","$838,679","$379,793","$305,826"
Add'l income/expense items,NaN,NaN,"$41,725","($115,154)"
Earnings Before Interest and Tax,"$1,646,951","$723,525","$410,621","$274,601"
Interest Expense,"$420,493","$238,204","$150,114","$132,716"
Earnings Before Tax,"$1,226,458","$485,321","$260,507","$141,885"
Income Tax,"$15,216","($73,608)","$73,829","$19,244"
Minority Interest,NaN,NaN,NaN,NaN
Equity Earnings/Loss Unconsolidated Subsidiary,NaN,NaN,NaN,NaN
Net Income-Cont. Operations,"$1,211,242","$558,929","$186,678","$122,641"
Net Income,"$1,211,242","$558,929","$186,678","$122,641"
Net Income Applicable to Common Shareholders,"$1,211,242","$558,929","$186,678","$122,641"

In [3]:
revenue = scrapper.get_revenue(income_df)
print(revenue)
"""
12/31/2018    15794341.0
12/31/2017    11692713.0
12/31/2016     8830669.0
12/31/2015     6779511.0
Name: Total Revenue, dtype: float64
"""

12/31/2018    15794341.0
12/31/2017    11692713.0
12/31/2016     8830669.0
12/31/2015     6779511.0
Name: Total Revenue, dtype: float64

In [4]:
filename = filename_constructor.get_balance_sheet_csv_filename('nflx')
balance_sheet_df = scrapper.get_dataframe_from_csv_file(filename)
balance_sheet_df

,12/31/2018,12/31/2017,12/31/2016,12/31/2015
Period Ending:,,,,
Cash and Cash Equivalents,"$3,794,483","$2,822,795","$1,467,576","$1,809,330"
Short-Term Investments,NaN,NaN,NaN,NaN
Net Receivables,NaN,NaN,NaN,NaN
Inventory,NaN,NaN,NaN,NaN
Other Current Assets,"$5,899,652","$4,847,179","$3,986,509","$3,121,125"
Total Current Assets,"$9,694,135","$7,669,974","$5,720,291","$5,431,840"
Long-Term Investments,NaN,NaN,NaN,NaN
Fixed Assets,"$418,281","$319,404","$250,395","$173,412"
Goodwill,NaN,NaN,NaN,NaN
Intangible Assets,"$14,960,954","$10,371,055","$7,274,501","$4,312,817"
Other Assets,"$901,030","$652,309","$341,423","$284,802"
Deferred Asset Charges,NaN,NaN,NaN,NaN
Total Assets,"$25,974,400","$19,012,742","$13,586,610","$10,202,871"
Accounts Payable,"$1,040,402","$674,649","$510,474","$393,880"
Short-Term Debt / Current Portion of Long-Term Debt,NaN,NaN,NaN,NaN
Other Current Liabilities,"$5,446,918","$4,791,663","$4,076,183","$3,135,744"
Total Current Liabilities,"$6,487,320","$5,466,312","$4,586,657","$3,529,624"
Long-Term Debt,"$10,360,058","$6,499,432","$3,364,311","$2,371,362"
Other Liabilities,"$3,888,257","$3,465,042","$2,955,842","$2,078,459"
Deferred Liability Charges,NaN,NaN,NaN,NaN
Misc. Stocks,NaN,NaN,NaN,NaN
Minority Interest,NaN,NaN,NaN,NaN
Total Liabilities,"$20,735,635","$15,430,786","$10,906,810","$7,979,445"
Common Stocks,"$2,315,988","$1,871,396","$1,599,762","$1,324,809"
Capital Surplus,NaN,NaN,NaN,NaN
Retained Earnings,"$2,942,359","$1,731,117","$1,128,603","$941,925"
Treasury Stock,NaN,NaN,NaN,NaN
Other Equity,NaN,NaN,NaN,NaN
Total Equity,"$5,238,765","$3,581,956","$2,679,800","$2,223,426"
Total Liabilities & Equity,"$25,974,400","$19,012,742","$13,586,610","$10,202,871"

In [5]:
equity = scrapper.get_equity(balance_sheet_df)
print(equity)
"""
12/31/2018    5238765.0
12/31/2017    3581956.0
12/31/2016    2679800.0
12/31/2015    2223426.0
Name: Total Equity, dtype: float64
"""

12/31/2018    5238765.0
12/31/2017    3581956.0
12/31/2016    2679800.0
12/31/2015    2223426.0
Name: Total Equity, dtype: float64